---
import Navbar from "@/components/navbar.svelte";
import Menu from "@/components/menu.svelte";
import Intiailizing from "@/components/intiailizing.svelte";
import Head from "@/components/head.svelte";
import { ViewTransitions } from "astro:transitions";

const { title = "Home" } = Astro.props;
---

<html lang="en">
  <head>
    <Head title={title} />
    <ViewTransitions transition:animate="fade" />
    <script>
      import { User } from "@/store/user";
      import { storeDetails, storeProducts, isLoading } from "@/store/basics";

      const fetchUser = new Promise(async (resolve) => {
        const response = await fetch("/api/@me");
        if (response.ok) {
          const data = await response.json();
          User.set(data);
        }
        resolve(response);
      });
      const fetchStore = new Promise(async (resolve) => {
        const response = await fetch("/api/store");
        if (response.ok) {
          const data = await response.json();
          storeDetails.set(data);
        }
        resolve(response);
      });

      const fetchProducts = new Promise(async (resolve) => {
        const response = await fetch("/api/store/products");
        if (response.ok) {
          const data = await response.json();
          storeProducts.set(data);
        }
        resolve(response);
      });

      Promise.all([fetchUser, fetchStore, fetchProducts])

        .catch((error) => {
          console.error("Error in one or more requests:", error);
        })
        .finally(() => isLoading.set(false));
    </script></head
  >

  <body class="overflow-x-hidden min-h-screen bg-black text-white">
    <header
      class="fixed overflow-x-hidden w-screen grid place-items-center top-1 z-[500]"
    >
      <Navbar client:load />
    </header>
    <Intiailizing client:load />
    <Menu client:load />
    <main class="pt-[100px] pb-20">
      <slot />
    </main>
  </body><style is:global>
    @import url("https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap");

    * {
      font-family: "ADLaM Display", system-ui;
      font-style: normal;
    }

    .logo-text {
      font-weight: 1000;
      color: black;
      -webkit-text-stroke: 2px white;
    }

    ::-moz-selection {
      color: #000;
      background: #fff;
    }

    ::selection {
      color: #000;
      background: #fff;
    }

    ::-webkit-scrollbar {
      display: none;
    }
  </style>
</html>
