---
import Navbar from "@/components/navbar.svelte";
import Menu from "@/components/menu.svelte";
import { ViewTransitions } from 'astro:transitions';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Frontend</title>
		<ViewTransitions transition:animate="fade"/>
	</head>
	<body class="overflow-x-hidden min-h-screen bg-black text-white">
		<header
			class="fixed overflow-x-hidden w-screen grid place-items-center top-1 z-[500]"
		>
			<Navbar client:load />
		</header>
		<Menu client:idle />
		<main class="pt-[100px] pb-20">
			<slot />
		</main>
	</body>
	<style is:global>
		@import url("https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap");

		* {
			font-family: "ADLaM Display", system-ui;

			font-style: normal;
		}

		.logo-text {
			font-weight: 1000;
			color: black;
			-webkit-text-stroke: 2px white;
		}
	</style>
</html>
