---
import Layout from "@/layouts/default.astro";
import CartList from "@/components/cart.svelte";
---

<Layout>
    <section class="overflow-x-hidden w-screen px-4 mt-5">
        <div class="select-none">
            <h2
                class="tracking-tight text-center font-bold text-4xl md:text-5xl lg:text-6xl"
            >
                Cart
            </h2>
        </div>

        <div>
            <CartList client:load />
        </div>
    </section>
</Layout>
