---
import Shop from "@/components/shop.svelte";
import Layout from "@/layouts/default.astro";
---

<Layout>
		<section
			class="bg-origin-border select-none mt-1 mb-5 bg-repeat bg-cover w-[96vw] md:aspect-[16/7] aspect-[2/1] block mx-auto bg-[url('https://wallpaperaccess.com/full/6301384.jpg')] rounded-xl"
			id="hero"
		>
		</section>

		<section
		id="tagline"
			class="w-[96vw] text-center block mx-auto relative h-[48px] rounded-2xl bg-white overflow-hidden px-3 py-1.5"
		>
			<div
				class="h-full flex gap-4 items-center justify-center align-middle"
			>
				{
					new Array(50)
						.fill(0)
						.map(() => (
							<div class="animate-marquee select-none whitespace-nowrap text-black !text-xl font-bold uppercase tracking-tighter mx-0 w-full">
								ON VACATION SALE
							</div>
						))
				}
			</div>
		</section>

		<section id="intro" class="select-noneblock mx-auto border-y border-white/10 my-10 px-4 py-8">
			<p class="md:text-3xl lg:text-4xl !font-thin tracking-tighter break-all">We have been at the forefront of the skating market for over 40 years and are known as one of the original skate shops in NYC! Not least, Skategods is owned and operated by skaters who get involved in all the wild excitement the skating world provides.</p>
		</section>

		<section id="shop" class="my-10">
			<Shop client:idle/>
		</section>
</Layout>
