---
import Introduction from "@/components/introduction.svelte";
import Tagline from "@/components/tagline.svelte";
import Shop from "@/components/shop.svelte";
import Layout from "@/layouts/default.astro";
import Hero from "@/components/hero.svelte";
---

<Layout>
  <Hero client:idle />

  <Tagline client:load />

  <Introduction client:load />

  <section id="shop" class="my-10">
    <Shop client:load />
  </section>
</Layout>
